   <!-- footer starts -->
    <footer class="footer">
        <div class="footer__history">
           <div class="footer__col3 padding--1">
              <h3 class="footer__h3">Our Recipes
              </h3>
              <p class="footer__para">All our recipes are tested thoroughly by us to make sure they’re suitable for your kitchen
                 at home. We know many of you are concerned about healthy eating, so we send them to a
                 qualified nutritionist for thorough analysis too.
                 Browse our recipes now
              </p>
              <p class="footer__parared">Browse our recipes now
              </p>
              <hr class="footer__hr">
           </div>
           <div class="footer__col3 padding--1">
              <h3 class="footer__h3">Grilled Praw’s History
              </h3>
              <p class="footer__para">The Grilled Prawn is a fictional food blog created in January 2015.
              </p>
              <hr class="footer__hr">
           </div>
           <div class="footer__col3 padding--1">
              <h3 class="footer__h3">Tips and Tricks
              </h3>
              <p class="footer__para">Not sure how to do something? Don’t panic. We have plenty of tutorials for you.
              </p>
              <p class="footer__parared">Learn more
              </p>
              <hr class="footer__hr">
           </div>
           <div class="footer__col3 padding--1">
              <h3 class="footer__h3">Help and Contact
              </h3>
              <p class="footer__para">
                 Struggling with one of the recipes?
              </p>
              <p class="footer__parared"> Send us an email
              </p>
              <p class="footer__para">We are always happy to try new things, send us your suggestions!
              </p>
              <p class="footer__parared">Fill in the form
              </p>
              <hr class="footer__hr">
           </div>
        </div>
        <div class="footer__right padding--1">
           <p class="footer__para padding--1">
              © The Grilled Prawn 
           <p>
           <p class="footer__para padding--1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, lectus quis interdum
              viverra, erat mi consectetur mi, a fringilla odio risus vel augue. Mauris tempor ligula
              fringilla magna iaculis, non vulputate tellus interdum.
           </p>
           <p class="footer__para padding--1">
              The images and recipes ideas were taken from spoonforkbacon.com and the icons from Google
              Material Icons.
           </p>
        </div>
     </footer>
    <!-- footer ends -->
