  <!-- header banner starts  -->
    <div class="header">
      <div class="header__left ">
        <img src="images/bakled-polenta-with-italian-sausage.png" alt="The Grilled Prawn" class="header__bannerimg">
      </div>
      <div class="header__right">
        <h3 class="header__h3">LATEST RECIPE
        </h3>
        <h1 class="header__h1">Baked Polenta with Cheese and Mushrooms.
        </h1>
        <p class="header__p">Polenta, goat cheese, Italian sausage, and cremini mushrooms. All together this will
          make for pretty darn good side dish to a lovely salad. Go for it.
        </p>
        <button class="btn header__btn ">
          Go to Recipe
          <img src="images/right-arrow.png" alt="Go To Recipe"
               class="header__btn-arrow">
        </button>
      </div>
    </div>
    <!-- header banner ends  -->