 <!-- navigation starts -->
    <header class="navigation">
      <nav class="navigation__navbar">
        <img src="images/Bitmap.png" alt="The Grilled Prawn" class="navigation__logo">
        <span class="navigation__heading"> The Grilled Prawn
        </span>
        <ul class="navigation__ul" id="nav" >
          <li class="navigation__li">
            <a class="navigation__link active">RECIPES
            </a>
          </li>
          <li class="navigation__li">
            <a class="navigation__link">DRINKS
            </a>
          </li>
          <li class="navigation__li">
            <a class="navigation__link">DECORATIONS
            </a>
          </li>
          <li class="navigation__li navigation__margin0 ">
            <a class="navigation__link">ABOUT THE GRILLED PRAWN
            </a>
          </li>
          <li class="navigation__li">
            <a class="navigation__toggleicon" onclick="navigation()">☰
            </a>
        </ul>
      </nav>
    </header>
    <!-- navigation ends -->